body {
    background-color: #b4b3b3;
}

.user-detail {
    border: 3px soild black;
}

.user-description {
    position: relative;
    height: 200px;
    width: 50%;
    border: 3px solid black;
    background-color: white;
    overflow: scroll;
    display: inline-block;
    left: 50%;
    margin-left: -25%;
}

.user-description table {
    border-collapse: collapse;
    width: 100%;
    overflow:hidden;
    float:right;
}

.user-description th {
    text-align: center;
    padding: 15px;
}

.user-description td {
    text-align: center;
    border: 3px solid grey;
    padding: 15px;
}

.user-description tr:nth-child(odd) {
    background-color: black;
    color: white;
}

.user-description tr:nth-child(even) {
    background-color: white;
}

.team.details {
    position: relative;
    overflow: hidden;
}

.team-details ul {
    padding: 0;
    list-style-type: none;
}

.team-details li {
    position: relative;
    height:200px;
    width: 33%;
    background-color: white;
    border: 1px solid black;
    overflow: scroll;
    text-align: center;
    float: left;
}

.button.link {
     background:none;
     border:none; 
}

.page-header {
    position: relative;
    text-align: center;
    color: black;
    background-color: white;
    border: 3px solid white;
    /* width: 100%;
    height: 500px; */
    background-repeat: no-repeat;
    /* background-image: url("LineOfSkrimmage.jpg"); */
    object-fit: cover;
}

.page-header img{
    width: 100%;
    object-fit: cover;
    height: 50%;
}

.navbar {
  color: white;
  padding:1px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #15161a;
}

.navbar li {
    float: left;
  }

.navbar #quickLogin {
    float: right;
    text-align: center;

}

.navbar #quickLogin:hover {
    background-color: #15161a
}

.inputBox {
    float:right;
    margin-right: 200px;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a {
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.vertical-navbar li {
    display: inline;
  }

.vertical-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.vertical-navbar li button {
    display: inline-block;
    color: #15161a;
    padding: 25px 25px;
    text-decoration: none;    
  }

.vertical-navbar li button:hover {
    background-color: #555;
    color: white;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.page-form {
    margin-left: 500px;
    margin-right: 500px;
    border: 1px solid #15161a;
    background-color: white;
}

.fields h2 {
    display: inline;
}

.fields ul {
    list-style-type: none;
}

.fields input [type=text] {
    float: right;
    left: 400px;
}

.fields input [type=button] {
    position: relative;
    float: right; 
    padding: 20px;
    border-radius: 15px
}

.fields a{
    color: #15161a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar li:hover {
    background-color: #EEDA22;
    color: white;
}

.search-functions{
    background-color:#EEDA22;
    float: left;
    width: 100%;
    border: 3px solid #15161a
}

.search-functions li {
    display: inline;
    position: relative;
    left: 70vmax;
}

.search-functions input [type=text]{
    position: relative;
    padding-right: 100px;
}

.search-functions button {
    position: relative;
    padding: 2px;
    top: 0px;
}

.search-functions {
    float: right;
}

.search-filters {
    float: left;
    position: sticky;
    background-color:#EEDA22;
    border: 3px solid white;
    width: 250px;
    margin:0;
}

.search-filters h2 {
    font-size: 20px;
    text-align: center;
    float: middle;
}

.search-filters li{
    display: inline;
}

.user-table{
    z-index: -1;
    overflow: -moz-hidden-unscrollable;
    margin-left: 256px;
    margin-right: 1px;
    width: 85%;
}

.user-table table {
    border-collapse: collapse;
    width: 100%;
    overflow:hidden;
    float:right;
}

.user-table th {
    text-align: center;
    padding: 15px;
}

.user-table td {
    text-align: center;
    padding: 15px;
}

.user-table tr:nth-child(odd) {
    background-color: #15161a;
    color: white;
}

.user-table tr:nth-child(even) {
    background-color: white;
}

.breakdown-table {
    border-collapse: collapse;
    width:100%;
    overflow:hidden;
    float:right;
}

.breakdown-table th {
    text-align: center;
    padding: 15px;
}

.breakdown-table td {
    text-align: center;
    padding: 15px;
}

.breakdown-table tr:nth-child(odd) {
    background-color: #15161a;
    color: white;
}

.breakdown-table tr:nth-child(even) {
    background-color: white;
}


.team-details li{
    background-color: #EEDA22;
    height: 400px;
}

.team-details h3{
    padding: 15px;
    background-color: #EEDA22;
}

.team-details tr {
    text-align: center;
}

.change-search {
    background-color: #EEDA22;
    padding: 1px;
    color: white;
    float: middle;
    text-align: center;
}

.change-search ul {
    list-style-type: none;
}